<div class="wrapper" appScroll>
    <div class="container">
        <app-spinner *ngIf="postLoading" />
        <div class="contentContainer" *ngIf="!postLoading">

            <div class="upper">
                <img class="avatar" src="{{post?.owner?.profilePic}}" alt="avatar" />
                <div class="author">
                    <a routerLink="/profile/2" class="fullName">{{post?.owner?.firstName}} {{post?.owner?.lastName}}</a>
                    <span class="time">{{post?.createdAt! | timeAgo}}</span>
                </div>
            </div>
        
            <div class="lower">
                <p class="postContent">{{post?.textContent}}</p>
                <img class="postImg" src="{{post?.picture}}" alt="post-image" *ngIf="post?.picture"/>
            </div>
        
            <div class="controls">
                <div class="details">
                    <span class="viewLikesBtn" (click)="showLikes()">{{post?.likes?.length}} likes</span>
                    <span class="viewCommentsBtn" (click)="showComments()">{{post?.comments?.length}} comments</span>
                </div>
            </div>
        </div>
        <app-likes *ngIf="likesVisible" [likes]="post?.likes!"/>
        <app-comments *ngIf="commentsVisible" [comments]="post?.comments!" [postId]="post?._id!" (removeCommentFromPostState)="removeCommentFromPostState($event)" />
    </div>
</div>