<div class="container">
    <div class="contentWrapper">
        <div class="contentContainer">
            <div class="commentList">
                <h3 class="heading">comments</h3>
                <div class="comment" *ngFor="let comment of comments">
                    <img class="avatar" src="{{comment.owner.profilePic}}" alt="avatar" />
                    <div class="commentContent">
                        <span class="author">{{comment.owner.firstName}} {{comment.owner.lastName}}</span>
                        <span class="textContent">{{comment.textContent}}</span>
                    </div>
                </div>
                <p *ngIf="comments.length == 0">No comments yet...</p>
            </div>

            <form class="addCommentForm">
                <span class="addCommentHeading">add comment</span>

                <div class="inputContainer">
                    <i class="fas fa-comment-dots icon"></i>
                    <input class="input" type="text" placeholder='comment'/>
                </div>

                <button class="btn">Add</button>
            </form>
        </div>
    </div>
</div>