<div class="container">
    <div class="contentWrapper">
        <div class="contentContainer">
            <div class="commentList">
                <h3 class="heading">comments</h3>
                <div class="comment" *ngFor="let comment of comments">
                    <img class="avatar" src="{{comment.owner.profilePic}}" alt="avatar" />
                    <div class="commentContent">
                        <span class="author">{{comment.owner.firstName}} {{comment.owner.lastName}}</span>
                        <span class="textContent">{{comment.textContent}}</span>
                        <i class="fas fa-trash deleteIcon" *ngIf="comment.owner._id == authData?._id" (click)="deleteComment(comment._id)">delete</i>
                    </div>
                </div>
                <p *ngIf="comments.length == 0">No comments yet...</p>
            </div>

            <form class="addCommentForm" #commentForm="ngForm" (ngSubmit)="commentSubmit(commentForm)" *ngIf="authData">
                <span class="addCommentHeading">add comment</span>

                <div class="inputContainer form-group">
                    <i class="fas fa-comment-dots icon"></i>
                    <input name="textContent" class="input" type="text" placeholder='comment' ngModel required
                        #commentInput="ngModel" />
                </div>

                <p *ngIf="commentInput.touched && commentInput.errors?.['required']">
                    comment cannot be empty string
                </p>

                <button class="btn" [disabled]="commentForm.invalid">Add</button>
            </form>
        </div>
    </div>
</div>