<div class="wrapper" appScroll>
    <div class="container">
        <form class="create-post-container" #editPostForm="ngForm" (submit)="formSubmit(editPostForm)">
            <p class="heading">Edit post</p>
            <textarea name="textContent" class="text" rows="2" ngModel="{{currPost?.textContent}}" required #textContentInput="ngModel"></textarea>
            <div *ngIf="textContentInput.touched">
              <span *ngIf="textContentInput.errors?.['required']" class="error">
                post text content cannot be a empty string
              </span>
            </div>

            <button *ngIf="!isLoading" [disabled]="editPostForm.invalid" class="btn">edit</button>
            <app-spinner *ngIf="isLoading" />
          </form>
    </div>
</div>