<div class="wrapper">

    <div class="container">
        <h1 class="heading">register</h1>

        <form class="registerForm">

            <div class="inputContainer">
                <i class="fas fa-at icon"></i>
                <input class="input" type="email" placeholder='email' />
            </div>

            <div class="inputContainer">
                <i class="fas fa-signature icon"></i>
                <input class="input" type="text" placeholder='first name' />
            </div>

            <div class="inputContainer">
                <i class="fas fa-signature icon"></i>
                <input class="input" type="text" placeholder='last name' />
            </div>
            <div class="inputContainer">
                <i class="fas fa-lock icon"></i>
                <input class="input" type="password" placeholder='password' />
            </div>

            <div class="inputContainer">
                <i class="fas fa-redo-alt repeat icon"></i>
                <input class="input" type="password" placeholder='repeat' />
            </div>

            <button class="btn">register</button>
        </form>

        <span class="redirect"> If you already have account,
            <a class="link" routerLink='/login'> login here!</a>
        </span>
    </div>
</div>