<div class="wrapper" appScroll>
    <div class="container">
        <h1 class="heading">all users in social-ntw</h1>
        <input #searchInput class="input" type="text" placeholder='Search by name...' value="" (input)="filterUsers($event, searchInput)" />
        <div class="userContainer" *ngFor="let user of filteredUsers">
            <ng-container *ngIf="user._id != authData?._id">
                <img class="avatar" src="{{user.profilePic}}" alt="avatar" />
                <span class="username" routerLink="/profile/{{user._id}}">{{user.firstName}} {{user.lastName}}</span> 
            </ng-container>
        </div>
    </div>
</div>