<div class="wrapper" appScroll>
    <div class="container">
        <h1 class="heading">all users in social-ntw</h1>

        <div class="userContainer" *ngFor="let user of users">
            <ng-container *ngIf="user._id != authData?._id">
                <img class="avatar" src="{{user.profilePic}}" alt="avatar" />
                <span class="username" routerLink="/profile/{{user._id}}">{{user.firstName}} {{user.lastName}}</span> <i
                    class="fas fa-link connectIcon" *ngIf="authData">connect</i>
            </ng-container>

        </div>

    </div>
</div>