<div class="wrapper">
    <app-spinner *ngIf="profileLoading"/>
    <div class="container" *ngIf="user && !profileLoading">
        <div class="upper">
            <div class="editIconContainer" routerLink="/profile/edit/{{authData._id}}" *ngIf="authData && authData._id == user._id">
                <i class="fas fa-user-edit editIcon"></i>
            </div>
            <img class="cover" src="assets/cover.png" alt="cover" />
            <img class="avatar" src="{{user.profilePic}}" alt="avatar" />
            <span class="fullName">{{user.firstName}} {{user.lastName}}</span>
        </div>
        <div class="lower">
            <div class="controls">
                <span class="connectionsBtn connectionsDropdown" (click)="toggleConnVisible()">
                    {{user.connections.length}} connections
                    <i class="fas fa-plus" *ngIf="!connectionsVisible"></i>
                    <i class="fas fa-minus" *ngIf="connectionsVisible"></i>
                </span>
                <div class="connsContainer" *ngIf="connectionsVisible">
                    <div class="conn" *ngFor="let conn of user.connections">
                        <img class="connAvatar" src="{{conn.profilePic}}" alt="avatar" />
                        <span class="connFullName">{{conn.firstName}} {{conn.lastName}}</span>
                    </div>
                </div>
                <button class="btn" *ngIf="authData && !isOwnProfile">
                    <i class="fas fa-link" *ngIf="!isOwnProfile && !isFollower" (click)="toggleConnect(user._id)"> connect</i>
                    <i class="fas fa-link" *ngIf="isFollower" (click)="toggleConnect(user._id)"> disconnect</i>
                </button>
            </div>
        </div>

        <div class="posts">
            <app-post-list [posts]="user.posts"/>
            <span *ngIf="user.posts.length == 0">No posts yet...</span>
        </div>
    </div>
</div>