<div class="wrapper" appScroll>
    <div class="container">
        <div class="upper">
            <div class="editIconContainer">
                <i class="fas fa-user-edit editIcon"></i>
            </div>
            <img class="cover" src="assets/cover.png" alt="cover" />
            <img class="avatar" src="assets/ilich.jpg" alt="avatar" />
            <span class="fullName">John Doe</span>
        </div>
        <div class="lower">
            <div class="controls">
                <span class="connectionsBtn">
                    12 connections
                </span>
                <button class="btn">
                    <i class="fas fa-link"> connect</i>
                </button>
            </div>
        </div>

        <div class="posts">
            <app-post-list />
        </div>

        <div class="controlsPagination">
            <button class="btnPagination">
                <i class="fas fa-angle-double-left"></i> Prev
            </button>
            <button class="btnPagination">
                Next <i class="fas fa-angle-double-right"></i>
            </button>
        </div>
    </div>
</div>