<div class="wrapper">
    <app-spinner *ngIf="profileLoading"/>
    <div class="container" *ngIf="user && !profileLoading">
        <div class="upper">
            <div class="editIconContainer">
                <i class="fas fa-user-edit editIcon"></i>
            </div>
            <img class="cover" src="assets/cover.png" alt="cover" />
            <img class="avatar" src="{{user.profilePic}}" alt="avatar" />
            <span class="fullName">{{user.firstName}} {{user.lastName}}</span>
        </div>
        <div class="lower">
            <div class="controls">
                <span class="connectionsBtn">
                    {{user.connections.length}} connections
                </span>
                <button class="btn">
                    <i class="fas fa-link"> connect</i>
                </button>
            </div>
        </div>

        <div class="posts">
            <app-post-list [posts]="user.posts"/>
        </div>

        <div class="controlsPagination">
            <button class="btnPagination">
                <i class="fas fa-angle-double-left"></i> Prev
            </button>
            <button class="btnPagination">
                Next <i class="fas fa-angle-double-right"></i>
            </button>
        </div>
    </div>
</div>