<div class="container">

    <div class="upper">
        <img class="avatar" src="assets/user.png" alt="avatar" />
        <div class="author">
            <a routerLink="/profile/1" class="fullName">John Doe</a>
            <span class="time">2 hours ago</span>
        </div>
    </div>

    <div class="lower">
        <p class="postContent">This is hardcoded post</p>
        <img class="postImg" src="assets/insta.webp" alt="post-image" />
    </div>

    <div class="controls">
            <div class="actions">
                <i class="fas fa-thumbs-up likeBtn likeIcon">Like</i>
            </div>

        <div class="details">
            <span class="viewLikesBtn">12 likes</span>
            <span class="viewCommentsBtn">0 comments</span>
        </div>
    </div>

</div>