<div class="container">

    <div class="upper">
        <img class="avatar" src="{{post.owner.profilePic}}" alt="avatar" />
        <div class="author">
            <a routerLink="/profile/{{post.owner._id}}" class="fullName">{{post.owner.firstName}} {{post.owner.lastName}}</a>
            <span class="time">{{post.createdAt | timeAgo}}</span>
        </div>
    </div>

    <div class="lower" routerLink="/post/{{post._id}}">
        <p class="postContent">{{post.textContent}}</p>
        <img class="postImg" src="{{post.picture}}" alt="post-image" />
    </div>

    <div class="controls">
            <div class="actions">
                <i class="fas fa-thumbs-up likeBtn likeIcon" *ngIf="!postIsLikedByUser" (click)="likePost()" #likeBtn>Like</i>
                <i class="fas fa-heart-broken likeIcon" *ngIf="postIsLikedByUser" (click)="likePost()" #unlikeBtn>Unlike</i>
            </div>

        <div class="details">
            <span class="viewLikesBtn">{{post.likes.length}} likes</span>
            <span class="viewCommentsBtn">{{post.comments.length}} comments</span>
        </div>
    </div>
</div>