<div class="container">
    <div class="contentWrapper">
        <div class="contentContainer">
            <div class="content">
                <div class="like">
                    <img class="avatar"
                        src="assets/user.png" alt="avatar" />
                    <span class="fullName">John Doe</span>
                </div>
                <div class="like">
                    <img class="avatar"
                        src="assets/user.png" alt="avatar" />
                    <span class="fullName">John Doe</span>
                </div>
                <div class="like">
                    <img class="avatar"
                        src="assets/user.png" alt="avatar" />
                    <span class="fullName">John Doe</span>
                </div>
                <div class="like">
                    <img class="avatar"
                        src="assets/user.png" alt="avatar" />
                    <span class="fullName">John Doe</span>
                </div>
                <p>No likes yet..</p>
            </div>
        </div>
    </div>
</div>