<div class="wrapper" appScroll>
    <div class="container">
        <h1 class="heading">login</h1>
        <form class="loginForm">
            <div class="inputContainer">
                <i class="fas fa-at icon"></i>
                <input class="input" type="email" placeholder='email' />
            </div>
            <div class="inputContainer">
                <i class="fas fa-lock icon"></i>
                <input class="input" type="password" placeholder='password' />
            </div>
            <button class="btn">login</button>
        </form>

        <span class="redirect"> If you dont have account,
            <a class="link" routerLink='/register'> register here!</a>
        </span>
    </div>
</div>