<div class="wrapper" appScroll>
    <div class="container">
        <h1 class="heading">login</h1>
        <form class="loginForm" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
            <div class="inputContainer form-group">
                <i class="fas fa-at icon"></i>
                <input name="email" class="input" type="email" placeholder='email' ngModel required email #emailInput="ngModel" />
            </div>
            <div class="inputContainer form-group">
                <i class="fas fa-lock icon"></i>
                <input name="password" class="input" type="password" placeholder='password' ngModel required #passwordInput="ngModel"/>
            </div>
            <button class="btn" [disabled]="loginForm.invalid">login</button>
                <p *ngIf="emailInput.touched && emailInput.errors?.['email']" class="error">
                    this input must be in email format
                </p>
                <p *ngIf="emailInput.touched && emailInput.errors?.['required']" class="error">
                    email cannot be a empty string
                </p>
                <p *ngIf="passwordInput.touched && passwordInput.errors?.['required']" class="error">
                    password cannot be empty string
                </p>
        </form>

        <span class="redirect"> If you dont have account,
            <a class="link" routerLink='/register'> register here!</a>
        </span>
    </div>
</div>