<div class="wrapper" appScroll>
    <div class="container">
        <form class="editProfileForm" #editProfileForm="ngForm" (submit)="submitForm(editProfileForm)">
            <p class="heading">edit profile</p>
            <div class="inputContainer">
                <i class="fas fa-at icon"></i>
                <input name="email" class="input" type="email" placeholder='email' ngModel="{{user?.email}}" required #emailInput="ngModel" />
            </div>

            <div class="inputContainer">
                <i class="fas fa-signature icon"></i>
                <input name="firstName" class="input" type="text" placeholder='first name' ngModel="{{user?.firstName}}" required #firstNameInput="ngModel" />
            </div>

            <div class="inputContainer">
                <i class="fas fa-signature icon"></i>
                <input name="lastName" class="input" type="text" placeholder='last name' ngModel="{{user?.lastName}}" required #lastNameInput="ngModel" />
            </div>
            
            <div class="photoContainer form-group" (change)="onFileSelected($event)" accept="image/*" ngModel
            #imageInput="ngModel">
            <span class="photoSpan" *ngIf="!selectedFile">add picture</span>
            <span class="photoSpan added" *ngIf="selectedFile">added</span>
              <div *ngIf="imageInput.touched">
                <span *ngIf="imageInput.errors?.['invalidImage']" class="error">
                  Please select a valid image file
                </span>
              </div>
              <label for='file' class="addFile form-group">
                <div class="addFileBtn">
                  <i class="fas fa-images addVisible"></i>
                </div>
                <input id="file" class="addHidden" type="file"  />
              </label>
            </div>

            <button class="btn" [disabled]="editProfileForm.invalid">edit</button>

            <div *ngIf="editProfileForm.invalid" class="errorsCont">
                <p *ngIf="emailInput.touched && emailInput.errors?.['required']" class="error">
                    Email is required
                </p>
                <p *ngIf="emailInput.touched && emailInput.errors?.['email']" class="error">
                    Invalid email format
                </p>
                <p *ngIf="firstNameInput.touched && firstNameInput.errors?.['required']" class="error">
                    First name is required
                </p>
                <p *ngIf="lastNameInput.touched && lastNameInput.errors?.['required']" class="error">
                    Last name is required
                </p>
            </div>
        </form>
    </div>
</div>