<form class="create-post-container" #createPostForm="ngForm" (ngSubmit)="createPostSubmit(createPostForm)">
  <p class="heading">Add new post</p>
  <textarea name="textContent" class="text" rows="2" ngModel required #textContentInput="ngModel"></textarea>
  <div *ngIf="textContentInput.touched">
    <span *ngIf="textContentInput.errors?.['required']" class="error">
      post text content cannot be a empty string
    </span>
  </div>
  <div class="photoContainer form-group" (change)="onFileSelected($event)" accept="image/*" ngModel
    #imageInput="ngModel">
    <span class="photoSpan" *ngIf="!selectedFile">add picture</span>
    <span class="photoSpan added" *ngIf="selectedFile">added</span>
    <div *ngIf="imageInput.touched">
      <span *ngIf="imageInput.errors?.['invalidImage']" class="error">
        Please select a valid image file
      </span>
    </div>
    <label for='file' class="addFile form-group">
      <div class="addFileBtn">
        <i class="fas fa-images addVisible"></i>
      </div>
      <input id="file" class="addHidden" type="file" (change)="onFileSelected($event)" />
    </label>
  </div>
  <button [disabled]="createPostForm.invalid" class="btn" *ngIf="!isLoading">post</button>
  <app-spinner *ngIf="isLoading"/>
</form>